$ sass --watch --compass style.scss:style.css
@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #fdfcf6;
$subColor: #bea300;
$keyColor: #14c0c9;
$fontColor: #4c4c4c;


/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em; 
  background-color: $baseColor;
}

a {
  @include link-colors($keyColor, darken($keyColor, 10%), lighten($keyColor, 5%), darken($keyColor, 10%));
  text-decoration: none;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

// desktop
@media (min-width: 1025px) {

  /* Base
  ------------------------------------------------------------*/
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}



/* Header
------------------------------------------------------------*/
.button-contact {
  width: 20px;
  height: 20px;
  padding: 10px;
  border: 2px solid $fontColor;
  color: $fontColor;
  text-align: center;
  display: block;
  float: right;
  @include border-radius(4px);
  font-size: 20px;
  line-height: 0;
  margin: 20px 20px 0 0;
  &:visited {
    color: $fontColor;
  }
}
header {
  .profile {
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
    clear: both;
  }
  .site-title {
    font-size: 1.8rem;
    line-height: normal;
    span {
      display: block;
      font-size: 4.2rem;
      color: $keyColor;
    }
  }
  .profile-icon {
    @include border-radius(50%);
    margin: 30px auto;
  }
  p {
    font-size: 1.6rem;
  }
}

// desktop
@media (min-width: 1025px) {
  a {
    &:hover {
      text-decoration: underline;
    }
  }

  /* Header
  ------------------------------------------------------------*/
  .button-contact {
    &:hover, &:active {
      background-color: $fontColor;
      color: #FFF;
    }
  }
}

/* Contents
------------------------------------------------------------*/
// Common Styles
section {
  padding: 60px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  h2 {
    @extend .abel;
    font-size: 3.2rem;
    @extend .uppercase;
  }
}

// Skills
#skills {
  background-color: $subColor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);    // スキルボックスを縦に並べる
  }
  h2 {
    color: $baseColor;
    margin-bottom: 60px;
  }
  .skill-box {
    @include flex(1);
    margin: 10px 0;                     // 上下にマージン
    padding: 20px;
    background-color: $baseColor;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }
  i {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    background-color: $keyColor;
    font-size: 4.5rem;
    color: #FFF;
    text-align: center;
    @include box-sizing(border-box);
    @include border-radius(50%);
    @extend .block-center;
  }
  h3 {
    @extend .abel;
    @extend .uppercase;
    color: $keyColor;
    margin-bottom:10px;
    font-size: 2.4rem;
    font-weight: bold;
  }
}

// desktop
@media (min-width: 1025px) {
〜〜

  // Skills
  #skills {
    .container {
      @include flex-direction(row);     // スキルボックスを横に並べる
      justify-content: space-between;
    }
    .skill-box {
      margin: 0 10px;                   // 左右にマージン
    }
  }
}